body {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  font-family: 'Helvetica';
  color: white;
  background-color: black;
}

button {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttons {
  text-align: center;
}
#timeDisplay {
  margin-top: 200px;
  font-size: 100px;
}

li {
  font-size: 22px;
  font-weight: bold;
  list-style-type: none;
}

.laps {
  font-weight: bolder;
  text-align: center;
}